
      body,
      html {
        scroll-behavior: smooth;
        padding: 0;
        margin: 0;
      }
      html {
        font-family: spotify-circular, Helvetica, Arial, sans-serif;
      }
      html:lang(ar) *,
      html:lang(ur) * {
        font-family: circular-spotify-arabic, spotify-circular, Helvetica, Arial,
          sans-serif;
      }
      html:lang(he) * {
        font-family: circular-spotify-hebrew, spotify-circular, Helvetica, Arial,
          sans-serif;
      }
      html:lang(ru) * {
        font-family: circular-spotify-cyrillic, spotify-circular, Helvetica,
          Arial, sans-serif;
      }
      @font-face {
        font-family: spotify-circular;
        src: url(https://encore.scdn.co/1.2.3/CircularSpotify-UI-Latin-OS2v3-Book.woff2)
            format("woff2"),
          url(https://encore.scdn.co/1.2.3/CircularSpotify-UI-Latin-OS2v3-Book.woff)
            format("woff"),
          url(https://encore.scdn.co/1.2.3/CircularSpotify-UI-Latin-OS2v3-Book.otf)
            format("opentype");
        font-weight: 400;
        font-style: normal;
        font-display: fallback;
      }
      @font-face {
        font-family: spotify-circular;
        src: url(https://encore.scdn.co/1.2.3/CircularSpotify-UI-Latin-OS2v3-Bold.woff2)
            format("woff2"),
          url(https://encore.scdn.co/1.2.3/CircularSpotify-UI-Latin-OS2v3-Bold.woff)
            format("woff"),
          url(https://encore.scdn.co/1.2.3/CircularSpotify-UI-Latin-OS2v3-Bold.otf)
            format("opentype");
        font-weight: 700;
        font-style: normal;
        font-display: fallback;
      }
      @font-face {
        font-family: spotify-circular;
        src: url(https://encore.scdn.co/1.2.3/CircularSpotify-UI-Latin-OS2v3-Black.woff2)
            format("woff2"),
          url(https://encore.scdn.co/1.2.3/CircularSpotify-UI-Latin-OS2v3-Black.woff)
            format("woff"),
          url(https://encore.scdn.co/1.2.3/CircularSpotify-UI-Latin-OS2v3-Black.otf)
            format("opentype");
        font-weight: 900;
        font-style: normal;
        font-display: fallback;
      }
      @font-face {
        font-family: circular-spotify-arabic;
        src: url(https://encore.scdn.co/1.2.3/CircularSpotify-UI-Arabic-Book.woff2)
            format("woff2"),
          url(https://encore.scdn.co/1.2.3/CircularSpotify-UI-Arabic-Book.woff)
            format("woff"),
          url(https://encore.scdn.co/1.2.3/CircularSpotify-UI-Arabic-Book.otf)
            format("opentype");
        font-weight: 400;
        font-style: normal;
        font-display: fallback;
      }
      @font-face {
        font-family: circular-spotify-arabic;
        src: url(https://encore.scdn.co/1.2.3/CircularSpotify-UI-Arabic-Bold.woff2)
            format("woff2"),
          url(https://encore.scdn.co/1.2.3/CircularSpotify-UI-Arabic-Bold.woff)
            format("woff"),
          url(https://encore.scdn.co/1.2.3/CircularSpotify-UI-Arabic-Bold.otf)
            format("opentype");
        font-weight: 700;
        font-style: normal;
        font-display: fallback;
      }
      @font-face {
        font-family: circular-spotify-arabic;
        src: url(https://encore.scdn.co/1.2.3/CircularSpotify-UI-Arabic-Black.woff2)
            format("woff2"),
          url(https://encore.scdn.co/1.2.3/CircularSpotify-UI-Arabic-Black.woff)
            format("woff"),
          url(https://encore.scdn.co/1.2.3/CircularSpotify-UI-Arabic-Black.otf)
            format("opentype");
        font-weight: 900;
        font-style: normal;
        font-display: fallback;
      }
      @font-face {
        font-family: circular-spotify-hebrew;
        src: url(https://encore.scdn.co/1.2.3/CircularSpotify-UI-Hebrew-Book.woff2)
            format("woff2"),
          url(https://encore.scdn.co/1.2.3/CircularSpotify-UI-Hebrew-Book.woff)
            format("woff"),
          url(https://encore.scdn.co/1.2.3/CircularSpotify-UI-Hebrew-Book.otf)
            format("opentype");
        font-weight: 400;
        font-style: normal;
        font-display: fallback;
      }
      @font-face {
        font-family: circular-spotify-hebrew;
        src: url(https://encore.scdn.co/1.2.3/CircularSpotify-UI-Hebrew-Bold.woff2)
            format("woff2"),
          url(https://encore.scdn.co/1.2.3/CircularSpotify-UI-Hebrew-Bold.woff)
            format("woff"),
          url(https://encore.scdn.co/1.2.3/CircularSpotify-UI-Hebrew-Bold.otf)
            format("opentype");
        font-weight: 700;
        font-style: normal;
        font-display: fallback;
      }
      @font-face {
        font-family: circular-spotify-hebrew;
        src: url(https://encore.scdn.co/1.2.3/CircularSpotify-UI-Hebrew-Black.woff2)
            format("woff2"),
          url(https://encore.scdn.co/1.2.3/CircularSpotify-UI-Hebrew-Black.woff)
            format("woff"),
          url(https://encore.scdn.co/1.2.3/CircularSpotify-UI-Hebrew-Black.otf)
            format("opentype");
        font-weight: 900;
        font-style: normal;
        font-display: fallback;
      }
      @font-face {
        font-family: circular-spotify-cyrillic;
        src: url(https://encore.scdn.co/1.2.3/CircularSpotify-UI-Hebrew-Book.woff2)
            format("woff2"),
          url(https://encore.scdn.co/1.2.3/CircularSpotify-UI-Hebrew-Book.woff)
            format("woff"),
          url(https://open.scdn.co/fonts/CircularSpUIHbrOnly-Book.otf)
            format("opentype");
        font-weight: 400;
        font-style: normal;
        font-display: fallback;
      }
      @font-face {
        font-family: circular-spotify-cyrillic;
        src: url(https://encore.scdn.co/1.2.3/CircularSpotify-UI-Cyrillic-Bold.woff2)
            format("woff2"),
          url(https://encore.scdn.co/1.2.3/CircularSpotify-UI-Cyrillic-Bold.woff)
            format("woff"),
          url(https://encore.scdn.co/1.2.3/CircularSpotify-UI-Cyrillic-Bold.otf)
            format("opentype");
        font-weight: 700;
        font-style: normal;
        font-display: fallback;
      }
      @font-face {
        font-family: circular-spotify-cyrillic;
        src: url(https://encore.scdn.co/1.2.3/CircularSpotify-UI-Cyrillic-Black.woff2)
            format("woff2"),
          url(https://encore.scdn.co/1.2.3/CircularSpotify-UI-Cyrillic-Black.woff)
            format("woff"),
          url(https://encore.scdn.co/1.2.3/CircularSpotify-UI-Cyrillic-Black.otf)
            format("opentype");
        font-weight: 900;
        font-style: normal;
        font-display: fallback;
      }